.project-card {
  box-shadow: 0px 1px 2px 2px aliceblue;
  border-radius: 5px;
  padding: 10px;
}

.project-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.p-heading1 {
  color: #171f46;
  font-size: 22px;
}

.p-item {
  background-color: lightskyblue;
  border-radius: 4px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 5px;
  border-width: 0px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.p-para-1 {
  color: #171f46;
  font-size: 15px;
  margin-left: 5px;
}

.p-para-2 {
  color: #171f46;
  font-size: 16px;
}

.p-items-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.p1 {
  color: #171f46;
  font-weight: bold;
  font-size: 12px;
}

.p-d {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
